@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primaryDark: #09122C;
    --darkRed: #872341;
    --lightRed: #BE3144;
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    transition: .3s;

    #logo-section,
    #header-section,
    /*#video-section,*/
    #about-me-section,
    /*#info-section,*/
    #gallery-section,
    .placeholder {
        min-height: 100vh;
        scroll-snap-align: start;

        @media screen and (max-width: 768px) {
            scroll-snap-align: none;
        }
    }

    &:has(.side-bar-open) {
        overflow: hidden;
    }
}

*::-webkit-scrollbar {
    width: 2px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: var(--primaryDark);

}

::-webkit-scrollbar-thumb {
    background: var(--lightRed);

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--lightRed);
}

section {
    #requests {
        .text-container {
            max-width: 1280px;
            display: grid;
            grid-template-rows:  repeat(2, auto);
            grid-template-areas:
                "a a"
                "b _b"
                "c _c"
                "d _d";
            gap: 4px 8px;

            text-align: justify;

            div:first-of-type {
                max-width: 600px;
                grid-area: a;
            }
        }
    }
}
