@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background: #ffffff;
    --foreground: #171717;
    --primaryDark: #09122C;
    --darkRed: #872341;
    --lightRed: #BE3144;
}

@theme {
    --primaryDark: #09122C;
    --darkRed: #872341;
    --lightRed: #BE3144;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    overflow-x: hidden;
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    transition: .3s;

    &:has(.side-bar-open) {
        overflow: hidden;
    }
}

*::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background: var(--primaryDark);
}

::-webkit-scrollbar-thumb {
    background: var(--darkRed);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--lightRed);
}