#progress-bar {
    progress#progress-line {
        height: 1rem;
        background: var(--lightRed);

        &:not([value]) {
            display: none;
        }

        &[value]::-webkit-progress-value {
            background-color: var(--lightRed);
        }

        &[value]::-webkit-progress-bar {
            background-color: var(--darkRed);
            border: 1px solid var(--darkRed);
            border-radius: 2px;
            background-size: 35px 20px, 100% 100%, 100% 100%;
        }

        &:not([value]) {
            background: var(--darkRed);
        }
    }

    svg {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        padding: 5px;

        &.active {
            color: var(--darkRed);
            /*fill: var(--darkRed);*/
            background: #0a0a0a;
        }
    }
}