#progress-bar {
    progress#progress-line {
        height: 1rem;
        background: var(--lightRed);

        &:not([value]) {
            display: none;
        }

        &[value]::-webkit-progress-value {
            background-color: var(--lightRed);
        }

        &[value]::-webkit-progress-bar {
            background-color: var(--darkRed);
            border: 1px solid var(--darkRed);
            border-radius: 2px;
            background-size: 35px 20px, 100% 100%, 100% 100%;
        }

        &:not([value]) {
            background: var(--darkRed);
        }
    }

    svg {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        padding: 5px;

        &.active {
            color: var(--darkRed);
            /*fill: var(--darkRed);*/
            background: #0a0a0a;
        }
    }
}

.panel {
    transition: .4s;

    .svg-container {
        top: 0;
        bottom: 0;
        transition: .3s;
    }

    @media screen and (max-width: 768px) {
        .svg-container {
            inset: -20px 0 auto 0 !important;
        }
    }

    &:nth-child(odd) .panel-child {
        transform: translateX(-150%);

        .svg-container {
            right: -20px;
        }
    }

    &:nth-child(even) .panel-child {
        transform: translateX(150%);

        .svg-container {
            left: -20px;
        }
    }

    .svg-container.active {
        color: white !important;
    }
}